p {
    color: #313131;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-item {
    background: transparent;
    font-size: 18px;
    font-weight: 500;
    border: none;
    padding: 10px 12px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    text-align: left;

    &.active {
        background-color: #221f1f;
        color: white;
    }
}

.footer {
    margin-top: auto;
    padding-top: 14px;
    border-top: 1px solid #48484871;
    display: flex;
    align-items: center;
    gap: 10px;

    .avatarFooter {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #48484871;
        background-color: #f8ebeb;
        color: black;
        font-size: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.who-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

    .who-name {
        color: red;
        font-size: 20px;
        font-weight: 800;
    }

    .who-role {
        color: black;
        font-size: 16px;
        font-weight: 500;
    }
}
