p {
    color: #313131;
}

nav {
display: flex;
flex-direction: column;
gap: 10px;
}

.nav-item {
    background: transparent;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: none;
    padding: 10px 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 100%;
    text-align: left;

    &.active {
        background-color: #221f1f;
        color: white;
    }
    
    &:hover {
        background-color: #b5a8a8;
    }
}
